body {
	background-color: #a5a58d;
	font-family: 'Bebas Neue', cursive;
	margin: 0px;
	color: #6c584c;
}

h1 {
	text-align: center;
	color: #f0efeb;
	font-size: 100pt;
	margin-top: 100px;
	line-height: 0.25em;
	font-family: 'Bebas Neue', cursive;
}

h2 {
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 25pt;
	color: #6b705c;
	line-height: 1.25em;
}

div.fixed {
	background-color: #ddbea9;
	padding: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 50px;
	margin-bottom: 20px;
	border: 10px solid #f0efeb;
}

div.two {
	background-color: #cb997e;
	padding: 30px;
	padding-top: 5px;
	padding-bottom: 10px;
	margin: 50px;
	margin-bottom: 20px;
	border: 10px solid #f0efeb;
}

div.bar {
	background-color: #6b705c;
}

div.video {
	background-color: #ddbea9;
	padding: 30px;
	margin: 185px;
	margin-top: 25px;
	margin-bottom: 20px;
	border: 10px solid #f0efeb;
}


a.navigator {
	color: #f0efeb;
	text-decoration: none;
}

a.navigator:hover {
	color: #f0efeb;
	background: #828773;
	padding-left: 30px;
	padding-right: 30px;
}

img {
	border: 10px solid #f0efeb;
	margin: 10px;
}

img.home {
	border: 5px solid #f0efeb;
}

img.career {
	border: 5px solid #f0efeb;
	float: right;
	margin: 25px;
	margin-right: 0px;
}

img.time {
	border: 5px solid #f0efeb;
	float: left;
	margin-top: 10px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 20px;
}

img.history {
	border: 5px solid #f0efeb;
	float: right;
	margin-left: 20px;
	margin-bottom: 0px;
}

p {
	font-size: 20pt;
	font-family: 'Maiden Orange', cursive;
	text-align: justify;
	color: #6c584c;
}

p.navigator {
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	font-size: 40pt;
	color: #f0efeb;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-family: 'Maiden Orange', cursive;
	margin-top: 10px;
	margin-bottom: 10px;
}

th {
	font-size: 25pt;
	text-align: left;
	border-bottom: 1px solid #6c584c;
}

td {
	font-size: 20pt;
	border-bottom: 1px solid #6c584c;
}

iframe {
	border: 5px solid #f0efeb;
}